<template>
  <section class="section-maincontent">
    <v-container>
      <h1>{{ document.title }}</h1>
      <p class="text-subtitle-1">{{ document.subtitle }}</p>
      <prismic-rich-text :field="document.content"></prismic-rich-text>
    </v-container>
  </section>
</template>

<script>
export default {
  name: 'page',
  data () {
    return {
      pageTitle: ''
    }
  },
  head () {
    return {
      title: this.pageTitle
    }
  },
  async asyncData({ $prismic, params, store, error }) {

    const currentNavItem = store.state.footerNav.filter((navItem) => {
      return navItem.slug === params.slug;
    }).pop();

    try {
      const document = (await $prismic.api.getByID(currentNavItem.link.id)).data
      return {
        document: document,
        pageTitle: document.title
      }
    } catch (e) {
      console.error(e);
      error({ statusCode: 404, message: 'Page not found' })
    }
  }
}
</script>

<style lang="scss" scoped>
  h1 {
    color: $font-color-secondary;
  }
</style>
