<template>
  <div>
    <v-app-bar>
      <nuxt-link to="/" class="v-toolbar__title">
         {{ pagetitle }}
      </nuxt-link>
      <v-spacer />
      <nav class="d-none d-sm-flex">
        <a v-for="item in mainNav" :href="item.href">
          {{ item.title}}
        </a>
      </nav>
      <v-app-bar-nav-icon @click="drawer = true"
                          class="d-flex d-sm-none"
      ></v-app-bar-nav-icon>

    </v-app-bar>

    <v-navigation-drawer
      v-model="drawer"
      absolute
      right
    >
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title>{{ pagetitle }}</v-list-item-title>
        <v-list-item-subtitle>Simon Nüchter</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list>
        <v-list-item
          v-for="item in mainNav"
          :key="item.title"
          :href="item.href"
          link
        >
          <v-list-item-content>
            <v-list-item-title>
                {{ item.title }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
        <v-list-item
          v-for="item in footerNav"
          :key="item.title"
          :href="'/'+ item.slug"
          link
        >
          <v-list-item-content>
               <v-list-item-title>
                {{ item.title }}
              </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  name: 'Appbar',
  data () {
    return {
      pagetitle: 'Praxis für Logopädie',
      drawer: false,
      mainNav: [{
          title: 'Home',
          href: '/'
        }, {
          title: 'Kontakt',
          href: '/#footer-contact'
        }, {
          title: 'Leistungen',
          href: '/#content-service'
        }],
      footerNav: this.$store.state.footerNav
    }
  }
}
</script>

<style lang="scss" scoped>
  .v-app-bar {
    background-color: white !important;
    box-shadow: 0 3px 5px rgba(0,0,0,0.05) !important;
    border-top: 2px solid $font-color-primary;
  }
  .v-toolbar__title {
    font-weight: 500;
    color: $font-color-root;
    &:hover, &:focus, &:active {
      color: $font-color-root;
      text-decoration: none;
    }
  }

  nav a {
    margin: $spacer * 4;
    color: $font-color-root;
    &:hover, &:active, &:focus {
      color: $font-color-primary;
      text-decoration: none
    }
  }
  .v-list-item--link {
    &:hover, &:active, &:focus {
      text-decoration: none;
    }
  }

</style>
