<template>
  <header>
    <h1 class="site-title">Praxis für Logopädie</h1>
    <p class="site-names">Simon Nüchter & Ina Metzger</p>
    <h2 class="site-title">Friedberg</h2>
  </header>
</template>

<script>
export default {
  name: 'Header'
}
</script>

<style lang="scss" scoped>
header {
  font-family: $heading-font-family;
  text-align: center;
  padding-top: 186px;
  padding-bottom: 186px;
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    width: 100%;
    background: white;
    z-index: -1;
    border-radius: 0 0 45% 30%/0 0 120px 10px;
    //[theme.breakpoints.up('xs')]: {
    //  borderRadius: '0 0 45% 30%/0 0 50px 5px',
    //},
    //[theme.breakpoints.up('sm')]: {
    //  borderRadius: '0 0 45% 30%/0 0 70px 7px',
    //},
    //[theme.breakpoints.up('md')]: {
    //  borderRadius: '0 0 45% 30%/0 0 120px 10px',
    //},
    //[theme.breakpoints.up('lg')]:{
    //  borderRadius: '0 0 45% 30%/0 0 150px 10px',
    //},
  }

  .site-title {
    font-size:  20px;
    margin-top:  0;
    color: $font-color-root;
  }

  .site-names {
    font-family: $heading-font-family;
    font-size: $heading-font-size-h2;
    margin: 6px;
  }
}


</style>
