<template>
  <a :href="link" target="_blank" class="item">
    <v-icon>mdi-{{ icon }}</v-icon>
    <span class="text">{{ content }}</span>
  </a>
</template>

<script>
export default {
  name: 'address-item',
  props: ['icon', 'content', 'link']
}
</script>

<style lang="scss" scoped>

  .text {
    font-size: 12px;
    margin-left: $spacer;
    position: relative;
  }
  .item {
    color: #606a73;
    text-align: center;
    margin-right:  $spacer * 8;
    margin-left:  $spacer * 8;
    margin-bottom: $spacer * 7;
    display: block;
    &:hover, &:active, &:focus {
      color: $font-color-root;
      text-decoration: none;
    }
  }

</style>
