// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;


$font-size-root: 14px;
$font-color-root: #101923;
$font-color-primary: #499f94;
$font-color-accent: #38d3c1;
$font-color-secondary: #398da9;
$font-color-action: #5f518a;
$body-font-family: 'Libre Franklin', 'Roboto', sans-serif;
$heading-font-family: "Quattrocento", serif;

$heading-font-size-h1: 36px;
$heading-font-size-h2: 34px;
$heading-font-size-h3: 23px;
//$headings: (
//  'h1': (
//    'font-size': 36px
//  ),
//  'h2': (
//    'font-size': 34px,
//    'color': #398da9,
//    'margin-top': 88px
//  ),
//  'h3': (
//    'font-size': 23px,
//    'margin-top': 68px
//  ),
//  'h4': (
//    'margin-top': 42px
//  ),
//  'subtitle-1': (
//    'margin-top': 8px
//  )
//);

@import '~vuetify/src/styles/settings/variables';




