<template>
  <v-app>
    <Appbar></Appbar>
    <v-main>
      <nuxt />
    </v-main>
    <Footer></Footer>
  </v-app>
</template>

<script>
  import Footer from '@/components/Footer';
  import Appbar from '@/components/Appbar';

  export default {
    components: { Appbar, Footer },
    data() {
      return {
        clipped: false,
        drawer: false,
        pageTitle: 'Praxis für Logopädie'
      }
    },
    async middleware({ store, $prismic }) {
      await store.dispatch('fetchMenu', $prismic)
    },
    head () {
      return {
        title: 'Praxis für Logopädie - Simon Nüchter'
      }
    }

  }
</script>

<style lang="scss">

</style>
