<template>
  <div>
    <Header></Header>
    <Info></Info>
    <section class="section-maincontent">
      <div v-for="slice in document.body">
        <component :is="'content-'+ slice.slice_type" :slice="slice"></component>
      </div>
    </section>
    <section class="section-cta">
      <template v-for="content in document['cta-section']">
        <content-text :slice="content"></content-text>
      </template>
    </section>
  </div>
</template>

<script>

import contentText from '~/components/slices/content-text';
import contentService from '~/components/slices/content-service';
import contentImage from '~/components/slices/content-image';
import Header from '~/components/Header';
import Info from '~/components/Info';

export default {
  name: 'index.vue',
  components: {
    Header,
    Info,
    contentText,
    contentService,
    contentImage
  },
  async asyncData ({ $prismic, error }) {
    try {
      const document = (await $prismic.api.getSingle('homepage')).data;
      return {
        document
      }
    } catch (e) {
      console.error(e);
      error({ statusCode: 404, message: 'Page not found' })
    }
  }
}
</script>

<style lang="scss" scoped>

  .section-maincontent {
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0 ;
      top: -78px;
      width: 100% ;
      background: white;
      z-index: -1;
      border-radius: 30% 45% 45% 30%/7px 75px 50px 5px;
      @media #{map-get($display-breakpoints, 'sm-and-up')} {
      //[theme.breakpoints.up(sm)]: {
        border-radius: 30% 45% 45% 30%/10px 100px 70px 7px;
      }
      @media #{map-get($display-breakpoints, 'md-and-up')} {
      //[theme.breakpoints.up(md)]: {
        border-radius: 30% 45% 45% 30%/15px 150px 120px 10px;
      }
      @media #{map-get($display-breakpoints, 'lg-and-up')} {
      //[theme.breakpoints.up(lg)]:{
        border-radius: 30% 45% 45% 30%/15px 200px 150px 10px;
      }

    }

  }

  .section-cta {
    background-color: #499f94;
    color: white;
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: -200px;
      bottom: 0;
      background: #499f94;
      z-index: -2;
    }
  }

</style>
